name: flutter_extended_wrap
description: "A Flutter Plugin for better Wrap Alignment and Spacin."
version: 0.0.1
homepage: https://github.com/Nikoo00o/Flutter-Extended-Wrap
repository: https://github.com/Nikoo00o/Flutter-Extended-Wrap

environment:
  sdk: '>=3.2.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0